body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    color: #fff;
    padding: 1rem 0;
    transition: background 0.3s ease;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffc107;
}

#search-bar {
    margin-top: 10px;
    text-align: center;
}

#search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
    position: relative;
}

section h2 {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4e54c8;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

section p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map-nightlife,
#map-essentials {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea {
    margin-bottom: 0.5rem;
}

form button {
    width: 100px;
    padding: 0.5rem;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

form button:hover {
    background: linear-gradient(135deg, #8f94fb, #4e54c8);
}

footer {
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

footer p {
    margin-bottom: 0;
}
